*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* ----------------------------------navbar style here----------------------- */
nav.navbar {
    margin: 20px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
.logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: 30px;
    color: #131318;
    gap: 10px;
}
.logo-box h1 span {
    color: #FF5400;
}
ul.menu-bar {
    display: flex;
    list-style-type: none;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}
ul.menu-bar li a {
    text-decoration: none;
    color: #424247;
    font-size: 18px;
    text-transform: capitalize;
    transition: .5s;
    font-weight: 500;
}
ul.menu-bar li a:hover{
    color: #FF5400;
}
.active{
    color: #FF5400 !important;
}
.menu-bar-icon {
    font-size: 30px;
    color: #131318;
    display: none;
}
@media screen and (max-width:576px) {
    nav.navbar {
        padding: 20px 0px 20px 20px;
        justify-content: space-between;
        width: 100%;
        margin: auto;
    }
    ul.menu-bar{
        display: none;
    }
    .menu-bar-icon{
        display: block;
        padding-right: 30px;
    }
}
/* ------------------------------bennar section style start here------------------- */
.bennar-section{
    background: url(Images/Group\ 13\ \(1\)\ \(1\).png);
    text-align: center;
    margin: 70px 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 550px;
    border-radius: 25px;
    position: relative;
    z-index: -2;
}
.bennar-section:after {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.818), transparent);
    display: block;
    top: 0;
    position: absolute;
    border-radius: 25px;
    left: 0;
    z-index: -1;
}

.bennar-section h1 {
    color: #FFFFFF;
    font-size: 65px;
    padding-top: 140px;
}

.bennar-section p {
    font-size: 18px;
    width: 700px;
    margin: auto;
    color: #FFFFFF;
    padding: 20px;
}

.banner-input-wrapper {
    width: 800px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    padding: 15px 10px;
    background: #ffffff5e;
    justify-content: space-between;
    border-radius: 10px;
}
.for-width {
    width: 170px;
    padding: 15px 10px;
    color: gray;
    border-radius: 10px;
    border: none;
}
.btn-find{
    background: #FF5400;
    color: #FFFFFF;
}
@media screen and (max-width:576px) {
    .bennar-section{
        margin: 50px 20px;
        height:auto;
    }
    .banner-input-wrapper{
        width: 70%;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
    .for-width{
        width: 305px;
    }
    .bennar-section h1 {
        color: #FFFFFF;
        font-size: 40px;
        padding-top: 50px;
    }
    .bennar-section p {
        width: 385px;
        font-size: 16px;

    }
    .bennar-conteiner {
        padding-bottom: 20px;
    }
}
/* ------------------------main section and popular tour section start here--------------------- */
main#main-section {
    margin: 50px 200px;
}
section.popular-tour-section {
    display: flex;
    gap: 20px;
}
.tours-discription-box h2 {
    font-size: 45px;
    margin-bottom: 30px;
    color: #131318;
}
.tours-discription-box p {
    font-size: 16px;
    margin: 20px 0px;
    line-height: 25px;
    color: #131318;
}
.list-padding {
    padding-left: 20px !important;
    margin: 10px 0px !important;
}
.tours-discription-box li {
    margin: 20px 0px 0px 0px;
    color: #131318;
}
button.read-more-btn {
    padding: 15px 30px;
    background: #FF5400;
    border: none;
    font-size: 20px;
    border-radius: 7px;
    color: #FFFFFF;
    text-transform: capitalize;
    transition: .5s;
    cursor: pointer;
}
button.read-more-btn:hover{
    background: #424247;
}
@media screen and (max-width:576px){
    section.popular-tour-section{
        flex-direction: column;
    }
    main#main-section{
        margin: 50px 20px;
    }
    .tours-img{
        width: 100%;
    }
    .tours-img img{
        width: 100%;
    }
}